.about-page {
  min-height: 100vh;
  align-items: center;
  background-image: url(../../images/background2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.title-about {
  text-align: center;
  color: var(--white);
  padding-top: 5rem;
}

.content-about {
  text-align: center;
  padding-top: 5rem;
  color: #fff;
}

.content-about h1 {
  font-size: 60px;
  color: #fff;
}

.content-about .nama {
  font-size: 40px;
  color: #fff;
  padding-top: 7.05rem;
  padding-bottom: 5rem;
}

.content-about p {
  font-size: 30px;
  padding-bottom: 1rem;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 15rem;
  height: 20rem;
}

@media only screen and (max-width: 480px) {
  .title-about h1 {
    font-size: 2rem;
  }

  .content-about .nama {
    font-size: 2rem;
  }

  .content-about p {
    font-size: 1.8rem;
  }
}
