.admin-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.view-button,
.edit-button,
.add-button {
  padding: 15px 25px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #131313;
  font-size: 1.2rem;
  cursor: pointer;
}

.view-button:hover,
.edit-button:hover,
.add-button:hover {
  background-color: #0056b3;
}
