.hero {
  min-height: 88.5vh;
  display: flex;
  align-items: center;
  background-image: url(../../images/background4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .content {
  padding: 1.4rem 7%;
  display: flex;
  max-width: 70rem;
}

.hero .content h1 {
  font-size: 3em;
  color: white;
  line-height: 1.2;
  padding-bottom: 30px;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  color: white;
}

.hero .content .main__btn {
  font-size: 1.4rem;
  display: inline-block;
  background: green;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.35s;
  outline: none;
  margin-top: 1rem;
  width: 300px;
  margin: auto;
}

.hero .content .main__btn .getrekomen {
  color: #fff;
  text-decoration: none;
}

.hero .content .main__btn:hover {
  background: black;
}

.button_container {
  display: flex;
  justify-content: center;
}

.right-hero {
  width: 650px;
  text-align: center;
}

.right-hero .card-image {
  width: 100%;
  margin: auto;
}

.right-hero .card-image img {
  width: 400px;
  height: 500px;
}

.right-hero h1 {
  font-size: 50px;
  color: #fff;
}

.home-photo-cards {
  height: 400px;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: ease-in;
  box-shadow: 0px 0px 15px -5px;
}

.home-photo-cards .home-peminatan {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
  .content,
  .right-hero {
    width: 100%;
    text-align: center;
  }

  .right-hero {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .content {
    padding: 0 20px;
  }

  .right-hero {
    margin-top: 20px;
  }
}
