.information-page {
  min-height: 100vh;
  align-items: center;
  background-image: url(../../images/backgroundhome.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-information {
  text-align: center;
  padding-top: 2rem;
  color: #fff;
}

.content-information h1 {
  padding-top: 20px;
  font-size: 50px;
  padding-bottom: 20px;
}

.content-information h2 {
  font-size: 30px;
}

.info-peminatan-wrappers {
  padding: 2rem;
  display: grid;
  margin: auto;
  width: 90%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.peminatan-photo-cards {
  height: 375px;
  border-radius: 10px;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  animation: ease-in-out;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.peminatan-photo-cards:hover {
  transform: translateY(-5px);
}

.peminatan-photo-cards-title {
  color: #fff;
  display: none;
  text-decoration: none;
}

.peminatan-photo-cards:hover .peminatan-photo-cards-title {
  display: block;
}

.peminatan-photo-cards .photo-peminatan {
  width: 100%;
  border-radius: 10px;
  height: 375px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
