form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 2rem;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  color: #4caf50;
}
