.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.title-getrekomen {
  text-align: center;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pertanyaan-nama {
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
}

label[htmlFor="questionName"] {
  display: block;
  font-size: 1.2rem;
  padding: 2rem;
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  margin-right: 5px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  color: #4caf50;
}

.notes {
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.notes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}
