:root {
  --white: #f7f6f5;
  --sky-blue: #a5d7e8;
  --yale-blue: #19376d;
  --space: #0b2447;
  --brown: #5e503f;
  --blue: #576cbc;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}
