:root {
  --white: #f7f6f5;
  --sky-blue: #93c6d6;
  --yale-blue: #1b3b6f;
  --space: #21295c;
  --brown: #5e503f;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}
